 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


.row .container-fluid .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	
	margin-right: 0 !important;
	margin-left: 0 !important;
} 


#nav-all{
	background: #24ff14 !important;
}

#goDaddy-logo {

	width: 30%;
	background-repeat: no-repeat;
	padding: 0 !important;
	margin: 0 !important;
}

.navbar{
	background-color: white;
	border: 1px solid white;
	border-radius: 5rem;
	padding: 0;
}
.form-control{
	border-top-left-radius: 5rem !important;
	border-bottom-left-radius: 5rem !important;
	border: 1px solid white;
	
}
.input-group-text{
	border-top-right-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
	border: 1px solid white;
}

#nav-links a {

	font-family: 'Montserrat';
	font-weight: 700 !important;
	padding: 0 !important;
	color: black !important;

	text-align: center;

	
}

#notif-icon{
	width: 2rem;
}
#cart-icon{
	width: 2.5rem;
}
#contact-us{
	width:  120px;
}


/* TOGGLE ICON */

#toggle-icon{
	width: 3rem !important;
}


/* Searchbar */

#search-btn{
	background-color: white;
	width: 5rem !important;
	
} 
#search-icon{
	width: 45%;
	filter: brightness(60%);
}

.card{
	border-radius: 2rem !important;
	/* background-color: ; */
}

#landing-text{
	font-family: 'Rubik', sans-serif;
	font-size: 1.2rem !important;
}


.landing-card-btn{
	background-color: #171717 !important;
	border: 1px solid #12797E;
	border-radius: 5rem;
	color: white;
	
}
#card-img {
	width: 12%;
	border: 3px solid;
	
	border-radius: 50%;

}


#card1-price{
	font-size: 1.8rem;
	color: #12797E;
	margin-top: 0;
	padding-top: 0;
}

#domain-taken{
	color: white;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 7px;
	font-family: 'Rubik', sans-serif;
	
}

#not-avail-icon{
	width: 2rem !important;
	
	
}
#not-avail-domain{
	color: gray;
	margin: 0 !important;
}

.card {
	height: 20rem;
}


/* CARD 2 */

#great-alternative{
	background-color: #FEEFB6;
	border: 1px solid #FEEFB6;
	border-radius: 7px;
	width: fit-content;
	font-family: 'Rubik', sans-serif;
}

.card-title span{
	color: #2BB1B3;
}

/* Card 3 */
#card3{
	height: fit-content !important;
}
#website-marketing{
	background-color: #65EDEA;
	border: 1px solid #65EDEA;
	border-radius: 7px;
	width: fit-content;
	font-family: 'Rubik', sans-serif;
}

.span-card3{
	border: 2px solid #65C6C7;
	border-radius: 5px;
	color:#65C6C7 !important;
	padding-left: 0.5%;
	padding-right: 0.5%;
	width: fit-content;
	
}

#card3-price{
	font-size: 1.5rem;
}

#card3-price span{
	text-decoration:line-through;
	font-size: smaller;
}

