{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!--Material UI CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

        <!-- Material UI JavaScript -->
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Rubik:wght@500&display=swap" rel="stylesheet">

        <!-- external css -->
        <link rel="stylesheet" type="text/css" href="{% static 'Vulcain_main/home.css' %}">
    </head>



    <body>
       

        <!-- Nav bar -->

        <div class=" d-flex justify-content-around align-items-center border border-bottom border-muted" id="nav-all">
            <div class="container">

                <!-- Logo and tabs -->
                <div class ="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-around align-items-center">
                            <a class="navbar-brand d-flex m-3" href="#" id="logo">
                                <img src="{% static 'Vulcain_main/images/go daddy.jpg' %}" class="w-25" id="goDaddy-logo" alt="Logo"> 
                            </a>
                
                            <div class="d-none d-lg-flex justify-content-around align-items-center" id="nav-links">
                               
                                    <a class="mr-5 my-3 " href="#" id="contact-us">Contact us 24/7</a>
                                    <a class="m-3 " href="#">Shop</a>
                                    <a class="m-3" href="#">Help</a>

                                    <img src="{% static 'Vulcain_main/images/notifs-icon.png' %}" class="m-3 p-1" id="notif-icon" alt="Logo"> 
                    
                                    <a class=" m-3 " href="#">Matthieu</a>

                                    <img src="{% static 'Vulcain_main/images/cart-icon.png' %}" class="m-3 p-1" id="cart-icon" alt="Logo"> 


            
                            </div>



                            <div class="dropdown d-block d-lg-none">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{% static 'Vulcain_main/images/toggle-icon.png' %}" class="" id="toggle-icon" alt="Logo"> 
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Shop</a></li>
                                    <li><a class="dropdown-item" href="#">Notifications</a></li>
                                    <li><a class="dropdown-item" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    

                </div>

                <!-- Search box -->
                <div class ="row my-5">
                    <div class="col-12 d-flex justify-content-center" id="searchbar">
                        <nav class="navbar navbar-light  w-75">
                            <form class="container-fluid ">
                                <div class="input-group ">
                                
                                    <input type="text" class="form-control py-4" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" >
                                    <span class="input-group-text d-flex justify-content-center align-items-center" id="search-btn">
                                        <img src="{% static 'Vulcain_main/images/search-btn.png' %}" id="search-icon" >

                                    </span>
                                </div>
                            </form>
                        </nav>

                    </div>
                    
                </div>

            </div>



        </div>

        <!-- Landing -->

        <div>
            <div class="container">

                <!-- Landing Text -->
                <div class="row mt-5" >
                    <div class="col-12 d-flex justify-content-center align-items-center" >
                        <p id="landing-text">Create your free website. No charge, no obligation, nothing to cancel.</p>

                    </div>
                </div>

                <!-- Landing cards -->
                <div class="row">
                    <div class="col-12 d-flex flex-wrap flex-lg-nowrap justify-content-center align-items-center">

                        <!-- Card 1 -->
                        <div class="card w-50 m-3 ">
                            <div class="card-body d-flex flex-column justify-content-center">

                              <div class=" px-2 py-0 d-flex  justify-content-center d-lg-block w-sm-75 w-lg-25 w-xl-25" id="domain-taken">DOMAIN TAKEN

                              </div>

                              
                              <div class="d-flex justify-content-start align-items-center my-2">
                                <img src="{% static 'Vulcain_main/images/not-available-icon.png' %}" class="my-1 p-1" id="not-avail-icon" alt="Logo"> 
                                
                                <div class="d-flex  justify-content-start align-items-center  ">
                                    <h5 class="card-title" id="not-avail-domain">randomdomain.com</h5>
                                </div>
                                
                              </div>
                              

                             
                              <div class="d-flex justify-content-start align-items-center my-2">
                                <img src="{% static 'Vulcain_main/images/card-img.jpg' %}" id="card-img" >
                                
                                <div class="d-flex flex-column justify-content-start align-items-start  pt-3 ml-3">
                                <p class="card-text mb-1" id="card1-text">We might be able to help you get it.
                                     <a href="#">See how</a>
                                </p>

                                 <p id="card1-price">&#163;51.99</p>
                                </div>
                                
                              </div>


                             
                              <div>
                                <a href="#" class="btn landing-card-btn px-3" id="btn-card1">Add to cart</a>
                              </div>

                              
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="card w-50 m-3">
                            <div class="card-body d-flex flex-column justify-content-start mt-3">

                              <div class=" px-2 py-0 d-flex  justify-content-center d-lg-block w-sm-75 w-lg-25 w-xl-25" id="great-alternative">GREAT ALTERNATIVE</div>

                              <h5 class="card-title">randomdomain.<span>it</span></h5>
                              
                              <div class="d-flex justify-content-start align-items-center my-2">
                                 <p id="card1-price">&#163;11.81/yr</p>
                                
                                
                              </div>


                             
                              <div>
                                <a href="#" class="btn landing-card-btn px-5" id="">Make it yours</a>
                              </div>

                              
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Card 3 bottom ROW -->
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">


                        <!-- Card 3 bottom -->
                        <div class="card w-100 m-3" id="card3">
                            <div class="card-body d-flex  justify-content-between my-2">
                                <div class=" d-flex flex-column justify-content-center my-2" >
                                    <div class=" px-2 py-0" id="website-marketing">Websites + Marketing</div>
  
                                    <h5 class="card-title">randomdomain.
                                        <span class="span-card3 py-0">.info</span>
                                            +
                                        <span class="span-card3 py-0">.email</span>
                                            +
                                        <span class="span-card3 py-0">.world</span>

                                    </h5>

                                    <div class="d-flex justify-content-start align-items-center my-2">
                                        <p class="card-text mb-1 ml-3" id="card1-text">randomdomain.info + randomdomain.email + randomdomain.world
                                        </p>
                                    </div>

                                    
                                </div>

                                <div class="d-flex flex-column justify-content-center align-items-center mx-5" id="card3-text">
                                    <p id="card3-price" class="mb-0">&#163;10.08 <span >&#163;96.40</span></p>
                                    <p>first trial year</p>
                                    

                                </div>

                                
  
  
                        
  
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            



        </div>


            
        

        

       
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>